/* Heading 1 */
h1 {
  font-style: normal;
  color: #142860; /* Navy Blue */
  font-family: 'Helvetica', sans-serif;
}

/* Heading 2 */
h2 {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  font-style: normal;
  color: #142860;
}

/* Heading 3 */
h3 {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  font-style: italic;
  font-weight: normal;
  color: #142860;
}

/* Heading 4 */
h4 {
  margin: 0;
  padding: -3px;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #142860;;
}

/* Paragraph */
p {
  margin: 0;
  padding-bottom: -5%;
  font-family: 'Helvetica', sans-serif;
  font-style: normal;
  color: #000000;;
}

/* Set default font and background color */
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  background-color: rgb(255, 255, 255); /* Creamy White */
  font-style: normal;
  color: #000000;;
}

footer {
  display:block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

footer hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, #ffffff, #777575, #ffffff);
  margin: 20px 0;
}



/* Header styles */
#dhead {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#dpic img {
  border-radius: 100%;
  max-width: 200px;
  height: auto;
}

#ddesc {
  padding-left: 20px;
  max-width: 500px;
}

#dico-container {
  display: flex;
  margin-top: 10px;
}

#dico {
  margin-right: 10px;
}

.iico {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

/* Bio section styles */
#bio {
  padding: 20px;
  border-radius: 8px;
}

/* History section styles */
#history {
  display: flex;
  flex-direction: column;
}

hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, #ffffff, #777575, #ffffff);
  margin: 20px 0;
}

.entry {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.timespan {
  width: 150px;
  padding-right: 20px;
  text-align: right;
  font-weight: bold;
  color: #555;
}

.ico {
  position: relative;
}

.ico img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border-color: #0c1013; 
  object-fit: cover;
}

.entry-dot {
  width: 10px;
  height: 10px;
  background-color: #0c1013; 
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.connector-line {
  position: absolute;
  height: 140%;
  width: 2px;
  background-color: #555;
  left: -25px;
  transform: translateX(-50%);
  z-index: -1;
}

.desc {
  padding-left: 20px;
  margin-left: 20px;
  text-align: left;
}

.htxt {
  margin-bottom: 10px;
  font-size: 18px;
  color: #0c1013; 
}

.hassets {
  display: flex;
  flex-wrap: wrap;
}

.hasset {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.ctitle {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 5px;
  margin-left: 0%;
  color: #0c1013; 
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.colapse-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card {
  flex: 0 0 48%;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.ccimg {
  overflow: hidden;
  border-radius: 8px;
}

.cdesc {
  margin-top: 10px;
  color: #555;
}

/* project */
.project {
  display: grid;
  grid-template-columns: 10fr 1fr;
  gap: 40px; 
  justify-content: center; 
  align-items: center; 
  padding: 5%;
  border: 3px solid #142860;
  border-radius: 8px;
  margin-bottom: 15px;
}


.pico {
  display: flex;
  padding-bottom: 2%;
}



.pico img{
  border: 2px solid #142860; 
  margin-right: 20px;
  object-fit: cover; 
}

.pdesc {
  flex: 1;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Helvetica', sans-serif;
  position: relative;
}

.dot {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #3498db;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  z-index: 1;
}

.experience {
  position: relative;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 1;
}

.experiences timebox {
  display: block; /* or inline-block, depending on your layout needs */
  position: absolute;
  width: 45px;
  height: 15px;
  border-radius: 18%;
  margin-top: 43px;
  margin-left: -115px;
  color: #333;
  font-size: 12px;
  text-align: right;
}


.experiences time-line {
  position: absolute;
  width: 1.3px;
  height: 50px;
  background-color: #0c1013; 
  margin-top: -30px;
  margin-left: -42px;
  transform: translateX(-50%);
  z-index: 0;
  resize: both;
}

/* Extra */
.experiences {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

.experiences li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.experiences li img {
  width: 40px;
  height: 40px;
  border: 2px solid #808080;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 30%;
}

.experiences li .experiences-content {
  flex: 1;
  padding: 0 20px;
}

.experiences li .experiences-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.experiences li .experiences-content p {
  font-size: 16px;
  margin-bottom: 5px;
}

.experiences li .experiences-content span {
  font-size: 14px;
  color: gray;
}

/* Projects */

.ctitle {
  font-size: 24px;
  margin-bottom: 2%;
  margin-left: 2%;
}

.project {
  display: flex;
}

.pico {
  flex: 1;
  /* margin-right: 20px; */
}

.pico img {
  max-width: 100%;
  border-radius: 8px;
  border-color: #0c1013; 
}

.pdesc {
  flex: 2;
}

.pdesc a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.pend {
  flex: 1;
}

/* retractable content */
.header {
  cursor: pointer;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid black;
  margin-top: 1%;
  margin-left: 2%;
  transition: transform 0.3s;
  transform: rotate(180deg);
}

.content {
  display: block;
}

.expanded .triangle {
  transform: rotate(90deg);
}

.expanded .content {
  display: none;
}

.code-icon {
  font-family: 'Courier New', monospace;
  font-size: 1.2em;
  color: #333; 
}

/* Card Formating */
.pcard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 8px;
  background-color:whitesmoke;
  text-align: center;
}

.pcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.pcontainer {
  padding: 2px 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: auto; 
  gap: 20px; 
}

.no-underline {
  text-decoration: none;
}